.login-container{
    height: 300px;
    width: 300px;
   box-shadow: inset 0px 0px 40px rgb(27, 27, 50);
}
.in{
    padding: 5px 10px;
    width: 250px;
    margin-left: 28px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px grey,
                 0px 0px 20px grey;
}